*{
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body{
 background: #f6fafd;
}

nav{
 padding: 1%;
 min-height: 30px;
 border-bottom: solid 1px #ccc;
 box-shadow: 1px 0px 1px #999;
 background: #ffffff
}

.inner{
 width: 90%;
 margin: auto;
}

.mobile{
 display: none;
}

.mobile-nav{
 display: none;
 padding-top: 5%;
 height: 90%;
 width: 100%;
 background: #d5edf3;
 z-index: 1;
}

.mobile-nav p{
 padding: 2%;	
 font-size: 25px;
}

.mobile-nav a{
 text-decoration: none;
 color: #02309B;
 padding: 1%;

}

nav h2{
 color: #02309B;
 font-family: "Arial Black", Gadget, sans-serif;
 width: 20%;
 float: left;
}

nav ul{
 float: right;
 width: 50%;
}

nav ul li{
 float: right;
 list-style: none;
 /* display: inline-block; */
 padding-left: 5%;
}

nav ul li a{
 text-decoration: none;
 color: #02309B;
 padding-bottom: 5px;
 font-style: oblique;
  font-size: 20px;
  font-weight: 600;
}

nav ul li a.active{
 border-bottom: solid 1px #02B875;
 box-shadow: 0px 1px #ccc;
}

.header{
 width: 80%;
 margin: auto;
 min-height: 500px;
}

.header-img{
 float: right;	
 padding-top: 2%; 
}

.header-img img{
 height: 450px;
}

.header-txt{
 padding-top: 10%;
}

.header-txt h1{
 color: #02309B;
 font-size: 2em;
}

.header-txt p{
 padding: 0.5% 0;
 font-size: 1.5em;
 color: #333;
}

.header-button{
 width: 50%;
}

.header-button button{
 background: #02B875;
 border-color: #02B875;
 width: 30%;
 padding: 1%;
 margin: 1%;
 font-size: 1.2em;
 color: #ffffff;
}

.bg-white{
 background: white;
}

.down img{
 display: block;
 margin: auto;
}

.row{
 min-height: 100px;
}

.row h1,
.form-container h1{
 text-align: center;
 font-style: italic;
 padding-top: 30px;
 color: #333;
}

.content{
 width: 80%;
 display: grid;
 grid-template-columns: 33.4% 33.3% 33.3%;
 margin: auto;
 padding: 3% 0;
}

.item{
 text-align: justify;
 box-shadow: 0 0 2px #9cb2c4;
 line-height: 1.6;
 border-radius: 5px;
 font-size: 18px;
 margin: 5%;
 padding: 5% 5%;
}

.item img{
 display: block;
 margin: 10% auto;
}

.item b{
 display: block;
 text-align: center;
 padding: 2%;
 color: #333;
 font-size: 20px;
}

.item p{
 padding: 2% 0;
 font-size: 1em;
}
.none{
  padding-top: 50%;
}

.info{
 width: 80%;
 margin: auto;
 text-align: center;
 padding: 4% 0;
 font-size: 1.5em;
 color: #333;
}

footer{
 background: #343a40;
 color: #ECF0F1;
 padding: 2% 0;
 bottom: 0;
 width: 100%;
}

footer p {
  text-align: center;
}

.foot-body{
 width: 80%;
 margin: auto;
 display: grid;
 grid-template-columns: 35% 35% 30%;
}

.foot-note{
 padding: 10% 5%;
}

footer p{
 padding-top: 5px;
}

footer b{
 color: #ccc;
}

footer ul li{
 list-style: none;
 padding-top: 5px;
}
footer input{
 margin-top: 5px;
 padding: 1%;
}

footer button{
 display: block;
 margin-top: 5px;
 background: #02B875;
 border-color: #02B875;
 padding: 1%;
 color: #ECF0F1;

}

footer h4{
 padding-top: 20px;
 text-align: center;
}

footer img{
 padding-right: 5px;
}

/*signup page*/
.form-container{
 width: 70%;
 margin: auto;
 margin-top: 5%;
 margin-bottom: 5%; 
 padding: 2%;
 background: #ffffff;
 box-shadow: 0px 0px 1px #888888;
}

.form-container label{
 display: block;
 margin-top: 5%;
}

.form-body{
 padding-top: 20px;
 display: grid;
 grid-template-columns: 50% 50%;
}

.form-field{
 padding: 1%;
}

.form-container p, .create p{
 color: #FF5733;
 text-align: center;
 margin-top: 5px;
}

#errormsg{
  color: white;
}

.form-container input{
 display: block;
 border: 1px solid #ccc;
 border-width: 0 0 1px 0;
 margin-top: 1%;
 padding: 2%;
 width: 96%;
}

.form-container input:focus, .update input:focus {
 outline: 1px solid #66CDAA;
 box-shadow: none;
}

.form-container button{
 display: block;
 text-align: center;
 background: #02B875;
 color: #ffffff;
   width: 40%;
   font-size: 15px;
   height: 40px;
   margin: 5% auto;
   border-color: #02B875;
   border-radius: 3px;
}

.form-container button:hover{
 background: #01a76a;
 box-shadow: 0px 2px 2px #888888;
}

/*records page*/
.records h2, .profile h2{
 width: 100%;
 box-shadow: 2px 2px 2px #888888;
 padding: 1% 0;
 text-align: center;
 background: #d5edf3;
 text-shadow: 1px 1px #ffffff;
}

.records-body{
 width: 80%;
 margin: 1% auto;
}

.filter{
 display: block;
 width: 100%; 
}

.filter form{
 margin-left: 70%
}

.filter select{
 width: 96%;
 height: 30px;
 margin-right: 4%; 
}

.records-main{
 margin: 2% 0;
 display: grid;
 grid-template-columns: 25% 25% 25% 25%;
}

.main{
 margin: 2% 0;
 display: grid;
 grid-template-columns: 50% 50%;
}

.main .comment{
 height: 100px;
 overflow-y: auto;

}

.first_cards{
 background: transparent;
 box-shadow: none;
}

.first_cards img{
 display: block;
 margin: auto;
 width: 30%;
 padding-top: 20%;
}

.cards{
 background: #ffffff;
 margin: 5%; 
 padding: 5%;
 box-shadow: 1px 1px 3px #888888;
}

.cards h4{
 text-align: center;
 padding-bottom: 2%;
 border-bottom: solid 1px #999;
 text-transform: capitalize;
}

.cards h4 img{
 height: 20px;
 padding-right: 5px;
}

.draft{
 text-transform: capitalize;
 padding-right: 5px;
}

.cards p{
 padding: 5% 0;
}

.cards i{
 color: #2471A3;
}


.cards button{
 width: 40%;
 height: 30px;
 padding: 1%;
 margin-top: 2%;
 background: #02B875;
 border-color: #02B875;
 color: #ffffff;
}

/*Details page*/
.detail{
 width: 80%;
 margin: 5% auto;
 background: #ffffff;
 min-height: 800px;
 box-shadow: 0px 0px 10px #999;
 position: relative;
}


.commentdets{
  position: absolute;
  width: 100%;
  padding-bottom: 2%;
  bottom: 0;
}
.norecord{
  position: absolute;
  top: 450px;
  padding-left: 40%;
}

.commentdets #type, .commentdets #status{
  text-transform: capitalize;
}

.commentdets p{
  text-align: justify;
  padding: 0 5% 2.5% 5%;
}

.commentdets #comment{
  height: 200px;
  overflow: hidden;
  overflow-y: scroll
} 



.images h3, .updateStatus h3{
 padding: 1%;
}

.updateStatus{
 padding: 0 1%;
}

.updateStatus button{
 background: #02B875;
 color: #ffffff;
 border-color: #02B875;
 padding: 1%;
 width: 80px;
}

.updateStatus select{
 height: 30px;
}

/*profile page*/

main{

 min-height: 600px;
 width: 80%;
 margin: 3% auto;
 padding: 1%;
 background: #FBFCFC;
 box-shadow: 0px 0px 10px #999;
}

#none{
 text-align: center;
}

.status{
 padding-top: 1%;
 margin: 5% 0;
 display: grid;
 grid-template-columns: 25% 25% 25% 25%;
}

.status-cards{
 text-align: center;
 font-weight: bold;
 background: #ffffff;
 margin: 5%;
 padding: 2%;
 border: solid 1px #ccc;
 box-shadow: 0px 0px 2px #888888;

}

.card-resolved{
  border-left: 3px solid green;
}

.card-draft{
  border-left: 3px solid rgb(83, 71, 252);
}

.card-rejected{
  border-left: 3px solid red;
}

.card-investigation{
  border-left: 3px solid orange;
}


.status-cards p{
 padding: 2%;
}

.profile-header b{
 width: 40%;
 float: left;
 padding: 1%;
 font-size: 1.5em
}

.cards-body b, .flag h4{
 font-size: 18px;
 text-transform: capitalize;
 color: #333;
 padding-right: 5px;
 font-style: oblique 15deg;
}

.profile h3{
 text-align: center;
 border-bottom: solid 1px #ccc;
 padding-bottom: 3%;
 margin-top: 7%;
 margin-bottom: 5%;
}

.min-nav{
 display: block;
 margin-bottom: 7%;
}

.min-nav img{
 height: 18px;
 padding: 5px;
}

.min-nav ul li{
 float: right;
 padding: 1%;
 list-style: none;
}

.min-nav ul li a, .min-nav ul li span{
 text-decoration: none;
 color: #333;
 cursor: pointer;
}

.pmax-cards{
 background: #ffffff;
 margin: 2%; 
 padding: 2%;
 box-shadow: 0px 0px 2px #888888;
 border-radius: 5px;
}

.pmax-cards span, .cards-body span {
 display: block;
 margin-bottom: 1%;
}

.pmax-cards span button{
 width: 80px;
 color: #ffffff;
 padding: 1%;
 background: #02B875;
 border-color: #02B875;
}

.pmax-cards span button:hover{
 box-shadow: 0px 2px 2px #888888;
}


.card-body{
 display: grid;
 grid-template-columns: 50% 50%;
}

.flag{
 padding: 2%;
}

.hide{
  display: none;
}

.update label{
  display: block;
  margin: 10px auto;
}

.update button{
  background: #ffffff;
  border-color: #2471A3;
  margin: 2% 0 2% 0;
  color: #2471A3;
  width: 80px;
  height: 35px;
}

.fullname{
  text-transform: capitalize;
}


.update li{
  list-style: none;
}

.fullname{
  text-transform: capitalize;
}

.update .location{
  display: block;
  margin: 10px 0;
  width: 90%;
  height: 30px;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  padding: 2%;
}

.update .comment{
  display: block;
  margin: 10px 0;
  width: 90%;
  height: 40px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  padding: 2%;
}


.cards-footer{
 margin-top: 2%
}

.view{
 background: #02B875;
 color: #ffffff;
 border-color: #02B875;
 width: 80px;
 height: 35px;
}
.view:hover{
 background: #01a76a;
 box-shadow: 0px 2px 2px #888888; 
}

.delete{
 background: #ffffff;
 border-color: #F08080;
 margin: 2% 0 2% 0;
 color: #B22222;
 width: 80px;
 height: 35px;
}

.edit{
 background: #ffffff;
 border-color: #2471A3;
 margin: 2% 0 2% 0;
 color: #2471A3;
 width: 80px;
 height: 35px;
}

.delete:hover, .edit:hover{
 box-shadow: 0px 2px 2px #888888;
}


/*Create record page*/
.create{
 width: 80%;
 margin: auto
}

.create{
 display: block;
 margin-top: 5%;
}

.create form input{
 width: 90%;
 height: 25px;
 display: block;
 margin-bottom: 2%;
 padding: 1%;
 text-transform: capitalize;
}

.create select{
 width: 100%;
 height: 40px;
 display: block;
 margin-bottom: 2%;
 padding: 1%;
 text-transform: capitalize;
}

.create form label{
 display: block;
 padding: 1% 0;
}

.create textarea{
 width: 90%;
 min-height: 100px;
 padding: 1%;
 margin-bottom: 2%;
}

.create button{
 display: block;
 width: 100px;
 background: #02B875;
 border-color: #02B875;
 color: #ffffff;
   font-size: 15px;
   padding: 1%;
   margin: 5% auto;
}

.create button:hover{
 background: #01a76a;
 box-shadow: 0px 2px 2px #888888;
}

.cards-max{
 margin: 2%;
}

.not_logged_in {
  width: 85%;
  margin: auto;
  height: 400px;
  padding-top: 100px;
  font-size: 1.6em;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

/*Admin page*/
.max-cards form{
 width: 60%;
}

.pagenation{
 padding-top: 2%;
 width: 20%;
 margin: auto
}

.pagenation button{
 background: #F0FFFF;
 border-color: #F0F8FF;
 width: 50px;
 height: 25px;
}

.pagenation button:hover{
 background: #F0F8FF;
 box-shadow: 0px 1px 1px #888888;
}


/*FAQ page*/
.faq{
 width: 80%;
 margin: auto;
 margin-top: 5%;
}

.max-cards{
 background: #ffffff;
 margin: 2%; 
 padding: 2%;
 box-shadow: 1px 1px 1px #888888;
}

.max-cards h4{
 margin-bottom: 1%;
 border-bottom: solid 1px #999;
 text-transform: capitalize;
}

.max-cards p{
  line-height: 20px;
  padding: 10px 0;
 }

@media only screen and (max-width: 768px) {
   /* For mobile phones: */
   [class*="inner"]{
     padding-bottom: 4%;
   }

   [class*="mobile"] {
       display: block;
       float: right;
   }

   [class*="links"]{
      display: none;
   }

   [class*="header"]{
     display: grid;
     height: 350px;
   }

   [class*="header-button"]{
     display: none;
   }

   [class*="header-img"]{
     display: none;
   }

 [class*="header-txt"]{
 padding: 2%;
 width: 80%;
    margin: auto;
 }

 [class*="content"]{
   grid-template-columns: 100%;
 }

 [class*="cards-body"]{
   grid-template-columns: 100%;
 }

 [class*="card-body"]{
   grid-template-columns: 100%;
 }

 [class*="item"]{
   margin: 1%;
   padding-bottom: 1%;
 }

 [class="mobile-nav"]{
   display: block;
   position: absolute;
 }

 [class*="min-nav"]{
   display: none;
 }

 [class*="form-container"]{
   margin-top: 10%;
   width: 80%;
 }
 [class*="form-body"]{
   grid-template-columns: 100%;
 }

 [class*="main"]{
   grid-template-columns: 100%;
 }

 [class*="records-main"]{
   grid-template-columns: 100%;
 }

 [class*="foot-body"]{
   grid-template-columns: 100%;
 }

 [class*="status"]{
   grid-template-columns: 100%;
 }

 [class*="updateStatus"]{
   margin-top: 5%;
 }
 
}

/* 
** Toast solution from https://www.w3schools.com/howto/howto_js_snackbar.asp
*/

#snackbar {
   visibility: hidden;
   min-width: 250px;
   margin-left: -125px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 2px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   left: 50%;
   bottom: 30px;
   font-size: 17px;
}

#snackbar.show {
   visibility: visible;
   -webkit-animation: fadein 0.5s;
   animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
   from {bottom: 0; opacity: 0;} 
   to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
   from {bottom: 30px; opacity: 1;} 
   to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
}

/*
**	Modal style from https://www.w3schools.com/howto/howto_css_modals.asp
*/


/* The Modal (background) */
.adminmodal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.adminmodal-content {
 background-color: #fefefe;
 margin: 10% auto; /* 15% from the top and centered */
 padding: 10px;
 border: 1px solid #888;
 width: 50%; /* Could be more or less, depending on screen size */
}

.adminmodal-content form{
 margin: 2% auto
}

.input_field{
 margin: 2% 0;
}


.input_field input{
 display: block;
 width: 96%;
 padding: 5px;
 margin: 10px 0
}

.adminmodal-content form input{
 padding: 2%;
}

.adminmodal-content form button{
 display: block;
 margin: 5% auto;
 height: 30px;
 width: 100px;
 background: #02B875;
 border-color: #02B875;
 color: #ffffff;
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}


/*
*lightbox style
*gallery modal style from https://www.w3schools.com/howto/howto_js_lightbox.asp
*/


.row > .column {
 padding: 5px 8px;
}

.row:after {
 content: "";
 display: table;
 clear: both;
}

.column {
 float: left;
 width: 40%;
 height: 80%;
}

.column img{
 width: 100%;
 height: 150px;
}

/* The Modal (background) */
.modal {
 display: none;
 position: fixed;
 z-index: 1;
 padding-top: 100px;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: black;
}

/* Modal Content */
.modal-content {
 position: relative;
 background-color: #fefefe;
 margin: auto;
 padding: 0;
 width: 90%;
 max-width: 1200px;
}

/* The Close Button */
.close {
 color: white;
 position: absolute;
 top: 10px;
 right: 25px;
 font-size: 35px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: #999;
 text-decoration: none;
 cursor: pointer;
}

.mySlides {
 display: none;
}

.cursor {
 cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
 cursor: pointer;
 position: absolute;
 top: 50%;
 width: auto;
 padding: 16px;
 margin-top: -50px;
 color: white;
 font-weight: bold;
 font-size: 20px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
 user-select: none;
 -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
 background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
 color: #f2f2f2;
 font-size: 12px;
 padding: 8px 12px;
 position: absolute;
 top: 0;
}

img {
 margin-bottom: -4px;
}

.caption-container {
 text-align: center;
 background-color: black;
 padding: 2px 16px;
 color: white;
}

.demo {
 opacity: 0.6;
}

.active,
.demo:hover {
 opacity: 1;
}

img.hover-shadow {
 transition: 0.3s;
}

.hover-shadow:hover {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
